body{
    margin:0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #5d5de0, #8f94fb);
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background: #f9f9f9;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
    max-width: 400px;
    width: 90%;
}

.escondido {
    display: none;
}

h1{
    margin-bottom: 20px;
    text-align: center;
}

#imagem img{
    width: 300px;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
}

#botoes{
    display:flex;
    justify-content: center;
    gap:15px;
    margin-top: 20px;
}

button{
    padding: 12px 25px;
    font-size: 16px;
    border:none;
    border-radius: 10px;
    cursor:pointer;
    transition: 0.3s;
}


#real{
    background-color: #4CAF50;
    color:white;
}

#fake{
    background-color: #f44336;
    color:white;
}


button:hover{
    transform: scale(1.1);
    opacity: 0.9;
}

#resultado{
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
}

#contador{
    margin-top: 10px;
    font-size: 18px;
}